<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <input type="text" name="newBlog" placeholder="New Blog" autocomplete="off" />
  <button type="submit">publish</button>
</form>
<%- include("partials/footer") -%>
