<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="label1">Titre</label>
    <input
      name="newTitle"
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="new title"
      autocomplete="off"
    />
  </div>
  <div class="form-group">
    <label for="label2">Post</label>
    <textarea
      name="newPost"
      class="form-control"
      id="textarea"
      rows="3"
      autocomplete="off"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">publish</button>
</form>
<%- include("partials/footer") -%>
